.Contact{
    background-color: white;
    min-height: 20vh;
    width: 90%;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 6px solid black;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Contact h1{
  font-size: 4rem;
  background-color: #FDB000;
  color: white;
  padding: 0px 10px 0px 10px;
  border: solid black 5px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.Contact p{
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
   
}

.conBut{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  
}

.conBut button{
    background-color: #C83F49;
    padding: 10px;
    border-radius:10px;
    border: solid black;
    margin: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.9s ease;
    width: 15vw;
    letter-spacing: 2px;
    font-weight: bolder;
    padding: 10px;
  }

  .conBut button:hover{
    background-color: #FDB000;
    color: white;
 
  }


@media screen and (max-width: 1000px) {
    .Contact p{
        font-size: 1rem;  
      }

      .Contact h1{
        font-size: 3rem;
      }

      .conBut button{
        width: 250px;
      
      }
    
  }



 

  @media screen and (max-width: 600px) {
    .Contact p{
      font-size: 0.8rem;  
      padding-left: 10px;
    padding-right: 10px;
    }
   

    .Contact h1{
      font-size: 1.7rem;
    }


    .conBut button{
      width: 40vw;
      
    }

    
    
  }