nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px 0px 0px;
    z-index: 100;
    width: 100%;
    height: 10vh;
    margin-top: 30px;
    position: absolute;
    
    
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

nav ul li{
 list-style: none;
 font-weight: bolder;
 transition: color 0.9s ease;
 font-size: 2rem;
 cursor: pointer;
 color: #C83F49;
}

nav ul li:hover{
   color: #FDB000;
   }

nav ul img{
    width: 170px;
}

@media screen and (max-width: 1115px) {
  
    nav ul img{
        width: 140px;
    }
  }


  @media screen and (max-width: 780px) {
    

    nav ul img{
        display: none;
    }

    nav ul li{
        font-size: 1.5rem;
     
       }

       nav{
        height: 4vh;
       
      
    }


  }


  @media screen and (max-width: 540px) {
  
   

    nav ul li{
        font-size: 1rem;
     
       }

    


  }


  


